* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import "bootstrap/scss/bootstrap-grid";

a {
  color: inherit;
}
body {
  width: 1440px;
  height: 3871px;
  background: linear-gradient(180deg, #1b1b1b 12%, #000 43%);
  background-image: url(../img/B-Homepage.png);
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-block-size: 1116px, 37px;
}
img,
video {
}

header {
  padding: 50px;
  padding-top: 80px;
  display: flex;
  gap: 700px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.left-header {
  display: flex;
  gap: 40px;
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.right-header {
  display: flex;
  gap: 40px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

h1 {
  color: #fbfafa;
  text-align: center;
  font-family: Arimo;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

footer {
  width: 1517.868px;
  height: 805.427px;
  position: sticky;
  top: 3871px;
  left: 0;
  width: 100%;
  background-image: url(../img/footer_background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
}
