* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import "bootstrap/scss/bootstrap-grid";

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  width: 1440px;
  height: 3871px;
  background: linear-gradient(180deg, #1b1b1b 12%, #000 43%);
}

.menu {
  width: 1116px;
  height: 37px;
  flex-shrink: 0;
}
